//- form.pug
.container
    form.contact-us(action='', method='post', name="submit-form")
      fieldset.input-container
        input.email(type='text', placeholder='abc@domain.com' aria-label="Email")
        input.fname(type='text', placeholder='Lora Chep' aria-label="Full name")
        textarea.ta(cols=40, rows=25 aria-label="Message" placeholder="Message")
        input.sbm.centered.capitals(type='submit', value='Send Message' aria-label="Send Message")

