  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-1 half
  .col-d-2 half
  .col-d-2 half
  .col-d-2 half
  .col-d-2 half
  .col-d-2 half
  .col-d-2 half
  .col-d-3 half
  .col-d-3 half
  .col-d-3 half
  .col-d-3 half
  .col-d-4 half
  .col-d-4 half
  .col-d-4 half
  .col-d-6 half
  .col-d-6 half
  .col-d-6.offset-col-d-6 half
  .col-d-1.offset-col-d-11 half
  .col-d-11 half
  .col-d-2.offset-col-d-10 half
  .col-d-10 half
  .col-d-3.offset-col-d-9 half
  .col-d-9 half
  .col-d-4.offset-col-d-8 half
  .col-d-8 half
  .col-d-5.offset-col-d-7 half
  .col-d-6.offset-col-d-6 half
  .col-d-7.offset-col-d-5 half
  .col-d-8.offset-col-d-4 half
  .col-d-9.offset-col-d-3 half
  .col-d-10.offset-col-d-2 half
  .col-d-11.offset-col-d-1 half
  .col-d-12 half